body {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 1px;
    font-family: 新細明體, arial; 
    font-size: 1em; 
    color: #000000;
    background: #FFFFEE;
}
p  {
    font-size: 1em; 
    color: #000000;
    margin: 0; 
    padding: 0; 
}
th {
    font-family: 新細明體, arial; 
    font-size: 1em; 
    font-weight: bold; 
    background-color: #FFD3B6;
}
td {
    font-family: 新細明體, arial; 
    font-size: 1em;
}
form {
    margin: 0;
    font-family: 新細明體, arial; 
    font-size: 1em;
}
input {
    font-family: 新細明體, arial; 
    font-size: 1em; 
    color: #000000;
    vertical-align: middle;
}
input.pwdtext {
    font-family: helvetica, sans-serif;
}
ol { 
    list-style: disc outside; 
    margin: 0 0 0 20; 
    padding: 0; 
    border: 0; 
}
select {
    font-family: 新細明體, arial; 
    font-size: 1em; 
    color: #000000;
    vertical-align: middle;
}
textarea {
    font-family: 新細明體, arial; 
    font-size: 1em; 
    color: #000000;
}
h1 {
    font-family: 新細明體, arial; 
    font-size: 1.2em; 
    font-weight: bold;
}
a:active {
    color:#FF0000; 
    text-decoration: none
}
a:link {
    color:#0000FF; 
    text-decoration: none;
}
a:visited {
    color:#0000FF; 
    text-decoration: none;
}
a:hover {
    color:#FF0000; 
    text-decoration: underline;
}
table.cistab { 
    border-width: 1px 0 0 0; 
    border-style: outset; 
    border-color: #996600; 
    border-collapse: collapse;
}
table.cistab th { 
    border-width: 0 1px 1px 1px; 
    padding: 2px; 
    border-style: inset; 
    border-color: #996600;
}
table.cistab td { 
    border-width: 0 1px 1px 1px; 
    padding: 2px; 
    border-style: inset; 
    border-color: #996600;
}
table.listtab { 
    border-width: 1px 0 0 0; 
    border-style: outset; 
    border-color: #996600; 
    border-collapse: collapse;
}
table.listtab th { 
    border-width: 0 0 1px 0; 
    padding: 2px; 
    border-style: dotted; 
    border-color: #996600;
}
table.listtab td { 
    border-width: 0 0 1px 0; 
    padding: 2px; 
    border-style: dotted; 
    border-color: #996600;
}
table.menutab { 
    border-width: 0; 
    border-spacing: 0 1px 0px 0; 
    border-style: solid; 
    border-color: #996600; 
    border-collapse: separate;
}
table.menutab td { 
    border-width: 1px 4px 2px 1px; 
    border-style: solid; 
    border-color: #663300;
    padding: 0px;
    margin:	0px;
}
#logo {
	padding: 2px;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 2px;
	cursor: default;
	color: #000000;
    background: #A8D8FB;
}
#menu {
	padding: 2px;
	font-size: 1em;
	text-align: center;
	margin: 0px;
	color: #000000;
    background: #FFDDBB;
}
#footer {
	padding: 2px;
	font-size: 1em;
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 12px;
	color: Brown;
    background: #C9FBA8;
}
#message {
	padding: 2px;
	font-size: 1em;
	text-align: center;
	margin: 2px;
	color: #000000;
}
